$screen-xs: 320px
$screen-sm: 768px
$font-family: "Open Sans"
$simple-text-color: #222
$simple-text-style: 400 16px/30px "Open Sans"
$header-menu-item-color: #ac975e
$contact-phone-color: #aac8ea
$quarter-plan-tab1-color: #b84848
$quarter-plan-tab2-color: #b8b748
$quarter-plan-tab3-color: #6db848
$quarter-plan-tab4-color: #48b7b8
$quarter-plan-tab5-color: #4862b8
$quarter-plan-tab6-color: #b848aa
*
	box-sizing: border-box
h2
	color: #375272
	font: 600 30px/36px $font-family
	text-transform: uppercase