$screen-xs: 320px
$screen-sm: 768px
$font-family: "Open Sans"
$simple-text-color: #222
$simple-text-style: 400 16px/30px "Open Sans"
$header-menu-item-color: #ac975e
$contact-phone-color: #aac8ea
*
	box-sizing: border-box
h2
	color: #375272
	font: 600 30px/36px $font-family
	text-transform: uppercase