.container
	position: relative
	+rmin(320)
		width: 100%
		padding:  0 15px
	+rmin(768)
		width: 750px
		margin: 0 auto
		padding:  0 20px
	+rmin(1100)
		width: 1000px
		padding:  0 40px
.col, .col-last
	position: relative
	flex-basis: 280px
	flex-grow: 0
	flex-shrink: 0
	margin-right: 40px
	+r(1100)
		margin-right: 0px
		flex-basis: 200px
	+r(768)
		flex-basis: 100%
		margin-bottom: 20px
.col-last
	margin-right: 0