---
title: Cronburg
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_first-scrin.html" %}
{% include "partials/_what-is-townhouse.html" %}
{% include "partials/_advantages.html" %}
{% include "partials/_quarter-plan.html" %}
{% include "partials/_google-map.html" %}
{% include "partials/_about-builder.html" %}
{% include "partials/_contacts.html" %}
{% include "partials/_documentation.html" %}
{% include "partials/_advantages-popup.html" %}
{% include "partials/_townhouse-galery.html" %}
<!-- 	{# mixin example #}
{{mixins.icon('facebook')}} -->


<!-- 	{# data usage example #}
	{% import "data/data.html" as tests %}
	
	{% for test in tests.list %}
	<li>{{test.title}}</li>
	{% endfor %}
{# end of example #}
 -->
{% endblock %}
