<!--begin google-map-->
<div class="about-builder" id="about-builde">
	<!--begin container-->
	<div class="container">
		<h2 class="about-builder__h2">а101 девелопмент</h2>
		<p>мы строим город, где хочется жить!</p>
		<!--begin builder-description-wrapper-->
		<div class="builder-description-wrapper">
			<div class="col builder-description__left">
				<p><span>300</span> <br>профессионалов
					в штате
				</p>
				<p>
					<span>23 <span> года</span></span><br>
					опыт на рынке недвижимости
				</p>
				<p>БОЛЕЕ <span>40 000</span>
					построенных квартир
				</p>
			</div>
			<div class="col builder-description-middle">
				<img class="a101" src="img/A101.png" alt="A101">
				<p class="builder-description-middle__p">
					<span>ГК «А101 ДЕВЕЛОПМЕНТ»</span> <br>реализует крупнейший в Россииградостроительный проект А101 в Новой Москве.
				</p>
				<a href="tel:+74954077-06">+7 (495) 407-79-06</a><br>
				<a href="mailto:website@a101.ru">website@a101.ru</a>
			</div>
			<div class="col-last builder-description__right">
				<p><span>2,5 <span>млн м<sub>2</sub></span></span>  жилья
					девелоперский портфель
				</p>
				<p>
					Входим в <span>ТОП 3</span>
					по объему строительства
					в Новой Москве
				</p>
				<p>
					<span class="gold-partner">Золотой партнер Сбербанка
					</span> <br>
					Многократный победитель Национальной премии. 
				</p>
			</div>
		</div>
		<!--end builder-description-wrapper-->
	</div>
	<!--end container-->
</div>
<!--end google-map-->