<!--begin advantages-->
<div class="advantages" id="advantages">
	<!--begin container-->
	<div class="container">
		<h2 class="advantages__h2">Преимущества КронбургА</h2>
		{% include "partials/_advantages-image-block.html" %}
	</div>
	<!--end container-->
	<!--begin container-->
	<div class="container advantages-description">
		<h2  class="advantages-description__h2">
			Преимущества Таунхаусов
		</h2>
		<div class="wrapper">
			<div class="col  advantages-description__item">
				<p>Поскольку поселок таунхаусов строятся в пригороде Москвы, то стоимость секции таунхауса существенно ниже аналогичной по площади городской квартиры. </p>
				<strong >Также таунхаус стоит дешевле, чем отдельно стоящий загородный
					коттедж. 
				</strong>
			</div>
			<div class="col advantages-description__item">
				<strong >Таунхаус обеспечен собственным парковочнымместом. 
				</strong>
				<p>Эксплуатировать таунхаус проще и дешевле, чем отдельно стоящий дом.
				</p>
				<strong >Автономное отопление на территории Квартала.
				</strong>
			</div>
			<div class="col-last advantages-description__item">
				<strong >Автономное отопление на территории Квартала.
				</strong>
				<p>
					Вся необходимая инфраструктура будет находится на территории Квартала.
				</p>
			</div>
		</div>
	</div>
	<!--end container-->
</div>
<!--end advantages-->
