<div class="callback-block" >
	<a class="callback-block__phone" href="tel:+74954807787">+7 (495) 480-77-87
	</a>
	<p class="callback-block__name">обратный звонок</p>
	<div class="img-block"></div>
<form >
	<input class="input-default" type="text" name="name" placeholder="Имя">
	<input class="input-default" type="text" name="phone" placeholder="Ваш номер телефона">
	<button class="button-default" type="submit">отправить</button>
</form>
	<a  class="callback-block__close cloce-default js-callback-close"></a>
</div>
