<!--begin contacts-->
<div class="contacts" id="contacts">
	<!--begin container-->
	<div class="container">
		<div class="col">
			<h2 class="contacts__h2">Контакты</h2>
			<p>
				АО «А101 ДЕВЕЛОПМЕНТ»<br>
				<a href="tel:+74954077906">+7 (495) 407-79-06</a><br>
				<a href="mailto:website@a101.ru">website@a101.ru</a>
			</p>
			<p>
				<span class="custom-color">Офис продаж в Москве:</span><br>
				ул. Валовая, дом 35 <br>	
				( БЦ Wall Street, 5 этаж ) <br>
				ПН – ПТ 9.00 – 21.00 <br>
				СБ – ВС 10.00 – 18.00 <br>
			</p>
			<p>
				<span class="custom-color">Офис продаж в Коммунарке:</span><br>
				Новая Москва, Поселок Коммунарка, дом 35, корпус 2 (3 км от МКАД за МЕГА Теплый Стан). <br>	
				ПН – ПТ 9:00-20:30 <br>
				СБ – ВС 10:00-18:00
			</p>
		</div>
		<div class="col">
			<p>
				<span class="custom-color">Квартал таунхаусов Кронбург:</span><br>
				Город Москва, 9 км от МКАД, за МЕГА Теплый Стан. Поворот с Калужского шоссе на поселок Воскреснское налево на светофоре. Двигаться по главной дороге до поселка Воскресенское. Далее поворот на лево по указателю на Потапово.
			</p>
			<p class="custom-color">
				Для просмотра объекта предварительно свяжитесь с менеджером по телефону <br>
				<a href="tel:+74954077906">+7 (495) 407-79-06</a>
			</p>
			<p>
				Непосредственно до «Кронбурга» от М. Теплый стан можно добрат
				ься на маршрутном такси №577а (Mercedes).
			</p>
		</div>
		<div class="callback-questions">
			<p>У вас есть вопрос?</p>
			<form>
				<input class="input-default" type="text" name="name" placeholder="Имя">
				<input class="input-default" type="text" name="email" placeholder="E-mail">
				<textarea class="textarea-default" name="question" 
				placeholder="Ваш вопрос"></textarea>
				<button class="button-default" type="submit">отправить</button>
			</form>
		</div>
	</div>
</div>
<!--end container-->
<!--end contacts-->
