<!--begin documentation-->
<div class="documentation">
	<!--begin container-->
	<div class="container">
		<h2 class="documentation__h2">Документация</h2>
		<div class="documentation-wrapper-list">
			{% import "data/data.html" as tests %}
			{% for test in tests.docs %}
			<div class="documentation__item 		{% if test.pdf %}download-pdf{% else %}download-jpg{% endif %}"><a  href="#" download>{{test.content}}</a>
			</div>
			{% endfor %}
		</div>
	</div>
	<!--end container-->
</div>
<!--end documentation-->


