		<!--begin first-scrin-->
		<div class="first-scrin">
			<!--begin container-->
			<a href="#" class="other-progect-link"></a>
			<div class="container">
				<img  src="img/first-scrin_image.png" alt="Cronburg-image">
				<h1>Кронбург
					<span>кватрал таунхаусов</span>
				</h1>
				<div class="first-scrin-description">
					<p>Просторный таунхаус дешевле на <span>500 000 руб.</span></p>
					<div class="first-scrin-description__key-block">
						Дома построены
						<span>Выдаем ключи!</span>
					</div>
				</div>
			</div>
			<!--end container-->

		</div>
		<!--end first-scrin-->
		