<header>
	<!--begin container-->
	<div class="container">
		<a class="header-logo" href="#" >
			<img src="img/logo.png" alt="Logo">
		</a>
		<div class='header-menu-btn'></div>
		<ul class="header-menu">
			<li class="header-menu__item"><a href="#what-is-townhouse">Что такое Таунхаус?</a></li>
			<li class="header-menu__item"><a href="#quarter-plan">План Квартала</a></li>
			<li class="header-menu__item"><a href="#advantages">Преимущества</a></li>
			<li class="header-menu__item"><a href="#">Таунхаусы</a></li>
			<li class="header-menu__item"><a href="#about-builde">О застройщике</a></li>
			<li class="header-menu__item"><a href="#">Инфраструктура</a></li>
			<li class="header-menu__item"><a href="#contacts">Контакты</a></li>
		</ul>
		<a class="header-contact-phone contact-phone" href="tel:+74954807787">+7 (495) 480-77-87</a>
		<a class="callback header-callback">
			обратный звонок
		</a>
		<div class="header-callback__img">
		</div>
{% include "partials/_callback.html" %}
	</div>
	<!--end container-->
</header>
