<!--begin quarter-plan-container-->
<div class="quarter-plan-tabs container">
	<div id="tabs" >
		<ul class="tabs-nav">
			<li><a href="#tabs-1">A</a></li>
			<li><a href="#tabs-2">B</a></li>
			<li><a href="#tabs-3">C</a></li>
			<li><a href="#tabs-4">D</a></li>
			<li><a href="#tabs-5">E</a></li>
			<li><a href="#tabs-6">F</a></li>
		</ul>
		{% import "data/data.html" as tests %}
		{% for test in tests.tabs %}
		<div id="tabs-{{test.tabnumber}}" class="tab-item">
			<div class="tab-item__description">
				Таунхаус «{{test.townhouseclass}}» <span>108,97 м<sup>2</sup></span>
			</div>
			<div class="tab-block tab-item__block  ">
				<div class="tab-block__img" style="background-image: url(img/tab1-img.jpg);">
				</div>
				<h3>I этаж</h3>
				<p>Общая площадь без учета перегородок</p>
				<span>36,24 кв.м</span>
			</div>
			<div class="tab-block  tab-item__block ">
				<div class="tab-block__img" style="background-image: url(img/tab2-img.jpg);">
				</div>
				<h3>II этаж</h3>
				<p>Общая площадь без учета перегородок</p>
				<span>33,22 кв.м</span><br>
				<span>балкон 0,72 кв.м</span>
			</div>
			<div class="tab-block  tab-item__block ">
				<div class="tab-block__img" style="background-image: url(img/tab3-img.jpg);">
				</div>
				<h3>Мансардный этаж</h3>
				<p>Общая площадь без учета перегородок</p>
				<span>24,10 кв.м</span><br>
			</div>
			<a class="download-plan" href="#" download>Скачать планировки таунхауса «{{test.townhouseclass}}» в PDF</a>
		</div>
		{% endfor %}

	</div>
</div>
<!--end quarter-plan-container-->
