		<!--begin quarter-plan -->
		<div class="quarter-plan" id="quarter-plan">
			<!--begin container-->
			<div class="container">
				<div class="col quarter-plan__instruction">
					<h2 class="quarter-plan__h2">План
						Квартала
					</h2>
					<p>Выберите место<br> расположение дома,<br>
						а в нем таунхауса.
					</p>
					<p>По цвету ниже, вы можете<br> посмотреть планировку<br> таунхауса
					</p>
				</div>
				<div class="quarter-plan__map ">
					<div class="magnify">
						<img  class="zoom" 
						data-magnify-src="img/quarter-plan-map-large.png" 
						src="img/quarter-plan-map.png" 
						alt="quarter-plan-map">
					</div>
				</div>
				
			</div>
			<!--end container-->
			{% include "../partials/_quarter-plan-tabs.html" %}
		</div>
		<!--end quarter-plan -->
		