	<!--begin what-townhouse-->
	<div class="what-is-townhouse">
		<!--begin container-->
		<div class="container">
			<div class="part-of-description col">
				<h2 class="what-is-townhouse__h2">
					Что такое
					Таунхаус?
				</h2>
				Таунхаус (англ.townhouse) — малоэтажный жилой дом на несколько многоуровневых квартир, с изолированными входами (то есть без общего подъезда), Таунхаусы получили распространение в пригородах Москвы благодаря множествам преимуществ.
			</div>
			{% include "partials/_slider.html" %}
			<a href="#" class="what-is-townhouse__galery">Галерея</a>
			<div class="part-of-description col">
				<h2 class="what-is-townhouse__h2 what-is-townhouse__h2-mod">
					Кронбург –<br>
					это ГАРМОНИЯ
				</h2>
				Кронбург – это настоящий европейский квартал таунхаусов с уютными улочками, красивыми бульварами, тенистыми скверами, развитой социальной и бытовой инфраструктурой. Здесь вас ждут уют, тишина и спокойствие.
			</div>
			<div class="part-of-description col">
				Наш проект расположен в одном  из наиболее благоприятных дляпроживания районе – юго-западном. Именно здесь вы сможете ощутить свежесть сосновых лесов и прозрачность рек.
			</div>
			<div class="part-of-description col-last">
				Квартал таунхаусов Кронбург входит в состав градостроительного мега-проекта «А101», в рамках которого ведется комплексное освоение земель вдоль Калужского шоссе.
			</div>


		</div>
		<!--end container-->

	</div>
	<!--end what-townhouse-->
