{% set 
	list = [
	{
	img: 'img/slide-img.png',
	alt: 'alt'
},
{
	img: 'img/slide-img.png',
	alt: 'alt'
},
{
	img: 'img/slide-img.png',
	alt: 'alt'
},
{
	img: 'img/slide-img.png',
	alt: 'alt'
},
{
	img: 'img/slide-img.png',
	alt: 'alt'
}
] 
%}
{% set 
	list2 = [
	{
	img: 'img/adv-img1.png',
	linkhref: '#',
	alt: 'alt',
	description: 'Авторская архитектура'
},
{
	img: 'img/adv-img2.png',
	linkhref: '#',
	alt: 'alt',
	description: 'Удачное расположение'
},
{
	img: 'img/adv-img3.png',
	linkhref: '#',
	alt: 'alt',
	description: 'Парковка'
},
{
	img: 'img/adv-img4.png',
	linkhref: '#',
	alt: 'alt',
	description: 'Охраняемая территория'
},
{
	img: 'img/adv-img5.png',
	linkhref: '#',
	alt: 'alt',
	description: 'Экология и природа'
},
{
	img: 'img/adv-img6.png',
	linkhref: '#',
	alt: 'alt',
	description: 'Соотношение цены'
}

] 
%}
{% set 
	tabs = [
	{
	townhouseclass: 'A',
	tabnumber: '1'
},
{
	townhouseclass: 'B',
	tabnumber: '2'
},
{
	townhouseclass: 'C',
	tabnumber: '3'
},
{
	townhouseclass: 'D',
	tabnumber: '4'
},
{
	townhouseclass: 'E',
	tabnumber: '5'
},
{
	townhouseclass: 'F',
	tabnumber: '6'
}

] 
%}