{% set 
	list = [
	{
	img: 'img/slide-img.png',
	alt: 'alt'
},
{
	img: 'img/slide-img.png',
	alt: 'alt'
},
{
	img: 'img/slide-img.png',
	alt: 'alt'
},
{
	img: 'img/slide-img.png',
	alt: 'alt'
},
{
	img: 'img/slide-img.png',
	alt: 'alt'
}
] 
%}
{% set 
	list2 = [
	{
	img: 'img/adv-img1.png',
	alt: 'alt',
	href: '#adv1',
	id: "adv1",
	description: 'Авторская архитектура',
	longdescr: "	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio porro error qui aspernatur voluptatum autem dolore repudiandae, quisquam atque. Officiis consequuntur ratione in quisquam, molestias."
},
{
	img: 'img/adv-img2.png',
	alt: 'alt',
	href: '#adv2',
	id: "adv2",
	description: 'Удачное расположение',
	longdescr: "	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio porro error qui aspernatur voluptatum autem dolore repudiandae, quisquam atque. Officiis consequuntur ratione in quisquam, molestias."
},
{
	img: 'img/adv-img3.png',
	alt: 'alt',
	href: '#adv3',
	id: "adv3",
	description: 'Парковка',
	longdescr: "	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio porro error qui aspernatur voluptatum autem dolore repudiandae, quisquam atque. Officiis consequuntur ratione in quisquam, molestias."
},
{
	img: 'img/adv-img4.png',
	alt: 'alt',
	href: '#adv4',
	id: "adv4",
	description: 'Охраняемая территория',
	longdescr: "	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio porro error qui aspernatur voluptatum autem dolore repudiandae, quisquam atque. Officiis consequuntur ratione in quisquam, molestias."
},
{
	img: 'img/adv-img5.png',
	alt: 'alt',
	href: '#adv5',
	id: "adv5",
	description: 'Экология и природа',
	longdescr: "	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio porro error qui aspernatur voluptatum autem dolore repudiandae, quisquam atque. Officiis consequuntur ratione in quisquam, molestias."
},
{
	img: 'img/adv-img6.png',
	alt: 'alt',
	href: '#adv6',
	id: "adv6",
	description: 'Соотношение цены',
	longdescr: "	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio porro error qui aspernatur voluptatum autem dolore repudiandae, quisquam atque. Officiis consequuntur ratione in quisquam, molestias."
}

] 
%}




{% set 
	tabs = [
	{
	townhouseclass: 'A',
	tabnumber: '1'
},
{
	townhouseclass: 'B',
	tabnumber: '2'
},
{
	townhouseclass: 'C',
	tabnumber: '3'
},
{
	townhouseclass: 'D',
	tabnumber: '4'
},
{
	townhouseclass: 'E',
	tabnumber: '5'
},
{
	townhouseclass: 'F',
	tabnumber: '6'
}
] 
%}

{% set 
	docs = [
	
	{
	content: 'Проектная декларация 30.03.12',
	pdf: true
},
{
	content: 'Проектная декларация 30.03.12',
	pdf: true
},
{
	content: 'Проектная декларация 30.03.12',
	pdf: true
},
{
	content: 'Проектная декларация 30.03.12',
	pdf: true
},
{
	content: 'Проектная декларация 30.03.12',
	pdf: true
},
{
	content: 'Проектная декларация 30.03.12',
	pdf: true
},
{
	content: 'Проектная декларация 30.03.12',
	pdf: true
},
{
	content: 'Проектная декларация 30.03.12',
	pdf: true
},
{
	content: 'Проектная декларация 30.03.12',
	pdf: true
},
{
	content: 'Проектная декларация 30.03.12',
	pdf: true
},
{
	content: 'Проектная декларация 30.03.12',
	pdf: true
},
{
	content: 'Проектная декларация 30.03.12',
	pdf: true
},
{
	content: 'Проектная декларация 30.03.12',
	pdf: true
},
{
	content: 'Проектная декларация 30.03.12',
	pdf: true
},
{
	content: 'Проектная декларация 30.03.12',
	pdf: true
},
{
	content: 'Проектная декларация 30.03.12',
	pdf: false
}

] 
%}