{% import "partials/_mixins.html" as mixins %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="theme-color" content="#fff">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" media="all" href="css/app.css">
  {# {% include "../partials/_media-tags.html" %} #}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700&amp;subset=cyrillic" rel="stylesheet"> 

</head>
<body>
  {% include "partials/_header.html" %}
  <!-- BEGIN content -->
  <div class="out">
    {% block content %}{% endblock %}
  </div>
  <!-- END content -->

  <!-- BEGIN scripts -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA04VMqMvV-ifF4mtvOnsUkf3Lw9F9ivAg&callback=initMap"
  type="text/javascript"></script>
  <script type="text/javascript" src="js/app.js"></script>

  <!-- END scripts -->
  <script>
    var map;
    function initMap() {
      var bookpos = {lat: 55.524763, lng: 37.478325};
      var contentString = 'Частная школа1';
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 55.524763, lng: 37.478325},
        zoom: 15,
        scrollwheel: false
      });
      setMarkers(map);
    }
    var places = [
    ['Частная школа', 55.522763, 37.476325, 'img/school-marker.png'],
    ['Аптека', 55.527763, 37.458325, 'img/medical-marker.png'],
    ['Спортзал', 55.524763, 37.473325, 'img/dumbbell-marker.png'],
    ['Квартал таунхаусов Кронбург', 55.524763, 37.476325, 'img/logo-marker.png']

    ];
    function setMarkers(map) {

      for (var i = 0; i < places.length; i++) {
        var place = places[i];
        var infowindow = new google.maps.InfoWindow({
          content: place[0]
        });
        var marker = new google.maps.Marker({
          position: {lat: place[1], lng: place[2]},
          map: map,
          icon: place[3]
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
    }
  </script>


</body>
</html>
