.mfp-content
	max-width: 630px 
	width: 100%
	border-radius: 20px
	background: #fff
	padding: 50px 45px
	.cloce-default
		opacity: 1
		color: #fff
		position: absolute
		right: -32px
		top: -65px
		&:hover
			color: #8a2222

.adv-popup-block
	position: relative
.adv-popup-block__img
	border-radius: 50%
	border: 3px solid #375272
	float: left
	margin-right: 37px
.adv-popup-block__title
	margin-top: 30px
	margin-bottom: 14px
	vertical-align: top
	color: #375272
	font: 600 20px/30px $font-family
	display: block
.adv-popup-block__description
	display: block
	color: #222
	font: 400 16px/18px $font-family
