.contacts__h2
	color: $contacts-custom-color
	margin-bottom: 40px
	+r(768)
		margin-bottom: 20px
.contacts
	padding-bottom: 175px
	padding-top: 92px 
	background: url("../img/advantages_bg.png")  no-repeat
	background-size: cover
	color: #fff
	font: $simple-text-style
	line-height: 24px
	+r(1100)
		padding-top: 60px
		font: $simple-text-style-tablet-mobile
		.col:first-of-type
			margin-right: 20px
	+r(768)
		text-align: center
		padding-top: 40px
	.col:first-of-type
		+r(768)
			margin-right: 0px
	.col
		+r(768)
			text-align: center
	a
		color: #fff
	strong, .custom-color
		font-weight: inherit
		color: $contacts-custom-color
		a
			color: inherit
	p
		margin-bottom: 30px
		+r(768)
			margin-bottom: 10px
.callback-questions
	text-align: center
	width: 320px
	padding: 27px 35px 25px
	background: #aac8ea
	position: absolute
	right: 0px
	z-index: 11
	top: 0
	+r(1100)
		width: 280px
	+r(768)
		position: relative
		margin: 0 auto
	p
		color: #375272
		font: 600 30px/30px $font-family
		text-transform: uppercase
		margin-bottom: 20px
		+r(1100)
			font-size: 24px
	input
		margin-bottom: 10px
	textarea
		resize: none
		height: 150px
		margin-bottom: 20px

