
.documentation
	background: #25374b
	.container
		background: #3f5a7a
		top: -150px
		padding-top: 43px
		padding-bottom: 30px
.documentation__h2
	text-align: center
	color: #aac8ea
	margin-bottom: 30px
.documentation-list
	text-align: center
.doc-block	
	vertical-align: top
	width: 270px
	display: inline-block
	position: relative
	text-align: left
	margin-bottom: 25px
	padding-left: 45px
	min-height: 48px
	+rmin(1099)
		&:nth-of-type(3n+2)
			margin: 0 40px
	&:last-of-type
		margin-bottom: 0
	a
		color: #fff
		font: 400 16px/1.5em $font-family, sans-serif
		text-decoration: underline
	&:hover
		text-decoration: none
	&.download-pdf, &.download-jpg
		&:before
			content: ''
			position: absolute
			left: -5px
			top: 5px
	&.download-pdf
		&:before
			+s(pdf-down)
	&.download-jpg
		&:before
			+s(jpg-down)