// done by riverco.de

a
	text-decoration: none
header
	background: #375272
	.container
		padding-top: 25px
		padding-bottom: 25px
		position: relative
.header-logo
	margin: 15px 40px 0 18px
	display: inline-block
.header-menu
	display: inline-block
	max-width: 570px
	width: 100%
	padding-left: 150px
	margin-top: 20px
	vertical-align: top
	position: relative
.header-menu__item
	display: inline-block
	width: 125px
	margin-right: 15px
	&:first-of-type
		position: absolute
		left: 0px
		margin-right: 0
		top: auto
		width: 80px
		&:before
			content: ''
			position: absolute
			right: -33px
			height: 38px
			top: 50%
			margin-top: -19px
			width: 1px
			background: #fff
	&:nth-of-type(3n+1)
		margin-right: 0
	a
		color: $header-menu-item-color
		text-transform: uppercase
		transition: all .3s
		font: 400 14px/24px $font-family
		&:hover
			color: #fff
			text-decoration: underline
.contact-phone
	color: $contact-phone-color
	font: 700 24px $font-family
	float: right
	margin-right: 20px
	text-transform: uppercase
	vertical-align: top
.callback 
	color: #fff
	font: 400 14px $font-family
	text-transform: uppercase
	&:hover
		cursor: pointer
.header-callback
	position: absolute
	text-align: right
	right: 35px
	top: 76px
	width: 80px
	&:hover
		text-decoration: underline
.header-callback__img
	position: absolute
	width: 102px
	height: 102px
	right: 110px
	top: 78px
	background: #8a2222
	border: 1px solid #fff
	border-radius: 50%
	&:before
		content: ''
		position: absolute
		left: 50%
		top: 50%
		+s(phone)
		transform: translate(-50%, -50%)