.what-is-townhouse
	padding: 70px 0 90px 0px
	+r(1100)
		padding: 50px 0 60px 0px
	+r(1200)
		overflow: hidden
	.container
		&:before
			content: ''
			position: absolute
			top: 35%
			left: 0
			+s(slider-line)
			z-index: 0
			+r(1100)
				left: 50%
				transform: translateX(-50%)
			+r(768)
				display: none
	.main-desc-wrapper
		text-align: justify
	.left-slider-disc
		margin-right: 63px
.part-of-description
	color: $simple-text-color
	font: $simple-text-style
	vertical-align: top
	+r(1100)
		font: $simple-text-style-tablet-mobile
.what-is-townhouse__h2
	margin-bottom: 30px
	margin-top: 5px
	+r(1100)
		margin-bottom: 20px
	+r(768)
		text-align: center
.what-is-townhouse__h2-mod
	position: absolute
	top: -110px
	+r(1100)
		top: -90px
	+r(768)
		text-align: center
		position: relative
		top: 0
		margin-top: 20px
		br
			display: none
.townhouse__galery
	position: absolute
	right: -15px
	top: 44%
	color: #375272
	font: 400 18px 
	font-family: $font-family
	text-transform: uppercase
	transform: rotate(-10deg)
	transition: all .3s
	+r(1100)
		right: 100px
		top: 59%
	+r(768)
		display: none
	&:hover
		text-decoration: underline
